
 * {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: smaller; 
      background-image: url("../images/signaturebackground.jpg");
  }

    #right:hover {
        background-color: hotpink;
    }

    #middle:hover {
    background-color: rgb(191, 29, 212);
    }

    #left:hover {
    background-color: rgb(245, 121, 49);
    }

  #contactbutton {
    width: 130px;
    height: 40px;
  }

  #portfoliobutton {
    width: 140px;
    height: 40px;
  }

  #aboutbutton {
    width: 115px;
    height: 40px;
  }

  #left {
    background-color: rgb(105, 105, 105);
    float: right;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white;
    font-weight: bolder;
  }

  #middle {
    background-color: rgb(24, 129, 120);
    float: right;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white; 
    font-weight: bolder;
  }
  
  #right {
    background-color: rgb(83, 173, 110);
    float: right;
    width: 200px; 
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white; 
    font-weight: bolder;
  }

.box-set {
    margin-left: 400px; 
    width: 700px; 
    text-align: center;
    color: white;
    font-weight: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box1 {
    padding-top: 30px; 
    padding-bottom: 40px; 
    height: 30px;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
    border-bottom: white;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.box2 {
    background-color: rgb(24, 129, 120);
    height: 50px;
    width: 200px;
    position: absolute;
    top: 240px;
    left: 440px;
}

.box3 {
    background-color: rgb(24, 129, 120);
    height: 50px;
    width: 200px;
    position: absolute;
    top: 240px;
    left: 775px;
}

.box4 {
    background-color: rgb(24, 129, 120);
    height: 50px;
    width: 200px;
    position: absolute;
    top: 510px;
    left: 440px;
}

.box5 {
    background-color: rgb(24, 129, 120);
    height: 50px;
    width: 200px;
    position: absolute;
    top: 510px;
    left: 775px;
}

.box6 {
    background-color: rgb(24, 129, 120);
    height: 50px;
    width: 200px;
    position: absolute;
    top: 780px;
    left: 440px;
}

/* .box7 {
    background-color: rgb(24, 129, 120);
    height: 248px;
    width: 200px;
    position: absolute;
    top: 780px;
    left: 775px;
    margin-bottom: 100px; 
} */

.footer {
    text-align: center;
}

footer {
    border-top-color: rgb(26, 182, 169);
    border-top-style: solid;
    border-top-width: 10px;
    background-color: rgb(207, 231, 207); 
    padding: 10px; 
    clear: both; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 110%;
}