
 * {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: smaller; 
      background-image: url("../images/signaturebackground.jpg");
  }
    
  #contactbutton {
    width: 130px;
    height: 40px;
  }

  #portfoliobutton {
    width: 140px;
    height: 40px;
  }

  #aboutbutton {
    width: 120px;
    height: 40px;
  }

  #left {
    background-color: rgb(105, 105, 105);
    float: right;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white;
    font-weight: bolder;
  }

  #middle {
    background-color: rgb(24, 129, 120);
    float: right;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white; 
    font-weight: bolder;
  }
  
  #right {
    background-color: rgb(83, 173, 110);
    float: right;
    width: 200px; 
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
    color: white; 
    font-weight: bolder;
  }

  #right:hover {
      background-color: hotpink;
  }

  #middle:hover {
    background-color: rgb(191, 29, 212);
  }

  #left:hover {
    background-color: rgb(245, 121, 49);
  }

  .content {
    position: fixed;
    top: 130px;
    left: 10px; 
  }

  .container {
    padding-left: 400px; 
    width: 1100px; 
    text-align: left;
}

  #aboutme {
      background-color: rgb(105, 105, 105);
      padding: 20px;
      color: white;
      font-size: x-large;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }

  #full {
    background-color: rgb(207, 231, 207); 
    border-color: rgb(207, 231, 207);
    border-width: 20px;
    border-style: solid;
  }
  
  #division {
    background-color: rgb(28, 132, 173);
    padding: 20px;
    margin-left: 5px; 
  }
  
  aside {
    float: left;
    background: rgb(207, 231, 207);
    border-color: rgb(207, 231, 207);
    border-width: 20px;
    border-style: solid; 
    margin-left: -20px;
    margin-top: -5px;
  }
  
  .footer {
    text-align: center;
  }

  footer {
    border-top-color: rgb(26, 182, 169);
    border-top-style: solid;
    border-top-width: 10px;
    background-color: rgb(207, 231, 207); 
    padding: 10px; 
    clear: both; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 110%;
  }